<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h2>Admin Panel Login</h2>
    <form method="POST" action="{{ url_for('admin') }}">
        <label for="admin_password">Admin Password</label>
        <input type="password" id="admin_password" name="admin_password" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>